name: release-deno-executable
on:
  push:
    branches: [main]
jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        deno: ["v1.x", "nightly"]
        os: [macOS-latest, windows-latest, ubuntu-latest]
    steps:
      - name: Checkout source
        uses: actions/checkout@v2
      - name: Setup Deno
        uses: denolib/setup-deno@v2
        with:
          deno-version: ${{ matrix.deno }}
      - name: Cache dependencies
        run: deno cache deps.ts
      - name: Run tests
        run: deno test -A --unstable
  release:
    runs-on: ubuntu-latest
    needs:
      - test
    steps:
      - name: Checkout source
        uses: actions/checkout@v2
      - name: Setup Deno
        uses: denolib/setup-deno@v2
        with:
          deno-version: v1.x
      - name: Compile Deno
        uses: flowscripter/.github/actions/compile-deno-executable@v1.11
        with:
          name: template-deno-executable
          ouput-path: ${{ runner.temp }}
      - name: Setup Node.js
        uses: actions/setup-node@v1
        with:
          node-version: 13
      - name: Release Deno
        uses: flowscripter/.github/actions/release-deno-executable@v1.11
        with:
          name: template-deno-executable
          ouput-path: ${{ runner.temp }}
          token: ${{ secrets.GITHUB_TOKEN }}
